body {
    background-color: #353535;
    background-image:url(res/hinterground/screenshot\ \(10\).jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);

    filter:opacity(0.2);
    background-color:#0000002d;
    border-radius: 18px;
    border: solid transparent; 
    border: none;
    margin: 0 auto;
    padding: 37px;
    transition: all 0.5s ease;
}

.center:hover {
    filter:opacity(1);
    background-color:#00000080;
    border-radius: 38px;
}

.button {
    font-size: 16px;
    font-family: Google sans, sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #16161600;
    color: #ffffff;
    border: solid 2px #8ac1ff;
    transition: all 0.22s ease-in-out;
}

.button:hover {
    font-weight: 600;
    background-color: #8ac1ff;
    color: #000000bc;
    border: solid 2px #ffffff;
    border-radius: 14px;
}

footer {
    font-family: Google sans, sans-self;
    font-weight: 600;
    text-align: center;
    color: #ffffff1e;
}

h1 {
    font-family: Google sans, sans-serif;
    font-size: 37px;
    color: #ffffff;
    text-align: center;
    transition: 0.2s;
}

/* Easter egg! :) */
.center h1:hover {
    -webkit-text-stroke: 2px #8fbeff;
    color: transparent;
}

h3 {
    font-family: Google sans, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

h4 {
    font-family: Google sans, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
}

p {
    font-family: Google sans, sans-serif;
    font-size: 21px;
    color: #ffffff;
    text-align: center;
}
